.music-w {
    width:1030px;
    margin: 0 auto;
}



/*banner部分*/
.gfMusic-banner{
    background:url(../images/gfMusic/gfMusic-bg.jpg)  50% no-repeat;
    /*width: 1280px;*/
    height: 1550px;
    position: relative;
    overflow: hidden;
    margin-top:3px;
}


.gfMusic-banner .screen{
    /*width: 1920px;*/
    height: 412px;
    position: relative;
    top :0;
    left: 50%;
    margin-left: -960px;
    /*overflow: hidden;*/

}
.gfMusic-banner .screen ul{
    /*position: absolute;*/
    /*top: 0;*/
    /*left:0;*/
    width: 1280px;
    height: 412px;
}
.gfMusic-banner .screen ul li{
    float: left;
    display: none;
}
.gfMusic-banner .screen .select{
    display: block;
}
.top-bg{
    width: 608px;
    height: 412px;
    background:url(../images/gfMusic/gfMusic-top-bg.png) no-repeat;
    position: absolute;
    top: 0;
    left:0;
    z-index: 1;

}
.gfMusic-banner .screen ol{
    position: absolute;
    top:375px;
    left: 620px;
}
.gfMusic-banner .screen ol li{
    width: 10px;
    height: 10px;
    padding:8px;
    border-radius: 50%;
    background-color: #fff;
    float:left;
    text-align: center;
    cursor: pointer;
    margin-right:15px;

}
.gfMusic-banner .screen ol li i{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000;
}
.gfMusic-banner .screen ol li .gfCurrent{
    background-color: #F88D2E;
}
.gfMusic-banner .screen ol li i .gfCurrent{
    background-color: #fff;
}



/*游戏原声开始*/
.gfMusic-banner .voice{
    height: 285px;
    width: 850px;
    position: absolute;
    top:450px;
    right:0;

}

.gfMusic-banner .voice div{
    width: 280px;
    height: 285px;
    float:left;
}

.gfMusic-banner .voice .part{
    position: relative;
}
.gfMusic-banner .voice .part .circleImg{
    display: block;
    height: 193px;
    width: 193px;
    position: relative;
    background:url(../images/gfMusic/gfMusic-small-bg.png);
    z-index: 1;
}
.gfMusic-banner .voice .part img{
    position: absolute;
    top:0;
    left: 0;

}


.gfMusic-banner .voice .part img {
    border-radius: 197px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear
}

.gfMusic-banner .voice .part a:hover + img {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 10s linear;
    -moz-transition: all 10s linear;
    -ms-transition: all 10s linear;
    -o-transition: all 10s linear;
    transition: all 10s linear
}
.gfMusic-banner .voice .part  .circleImg span{
    position: absolute;
    top:0;
    left:0;
    font-size: 24px;
    text-align: center;
    display: block;
    width: 197px;
    height: 26px;
    margin-top: 150px;
    color: #f88d2e;
}
.gfMusic-banner .voice .part p{
    display: block;
    margin-top: 5px;
    width: 202px;
    height: 60px;
    color:#ababab;
}
/*游戏原声结束*/


/*名曲推荐开始*/
.gfMusic-banner .famous{
    width: 870px;
    height: 233px;
    position: absolute;
    top:796px;
    right:66px;

}
.famous .famous-box{
    width: 790px;
    height: 233px;
    margin-left: 45px;
    overflow: hidden;
    position: relative;
}
.gfMusic-banner .famous a:hover{
    text-decoration: underline;
}

.gfMusic-banner .famous  ul{
    position: absolute;
    /*left: 100px;*/
    /*top: 0;*/
    width: 2000px;
    height:223px;
    overflow: hidden;
}
.gfMusic-banner .famous li{
    width: 135px;
    height: 190px;
    position: relative;
    float:left;
    margin-right:29px;
    text-align: center;
}
.gfMusic-banner .famous li img{
    opacity:0.5;
}
.gfMusic-banner .famous li:hover img{
    opacity:1;
}
.gfMusic-banner .famous .left{
    position: absolute;
    top:45px;
    left:0px;
    display: block;
    opacity:0.5;
    z-index: 2;
    width: 23px;
    height: 47px;
    background: url(../images/gfMusic/gfMusic-arrow-left.png) no-repeat ;
}
.gfMusic-banner .famous .right{
    position: absolute;
    top:45px;
    right:-10px;
    z-index: 2;
    opacity:0.5;
    display: block;
    width: 23px;
    height: 47px;
    background: url(../images/gfMusic/gfMusic-arrow-right.png) no-repeat ;
}
.gfMusic-banner .famous .smallbg{
    display: block;
    width: 135px;
    height: 100px;
    position: relative;
    z-index: 1;
    background: url(../images/gfMusic/gfMusic-play.png) no-repeat 45px 35px;

}
.gfMusic-banner .famous img{
    position:absolute;
    height: 134px;
    height: 100px;
    top:0;
    left:0;
    /*z-index: -1;*/
}
.gfMusic-banner .famous ul li .zan{
    height: 25px;
    width: 130px;
    text-align: left;
    background-color: #000;
    padding:8px 0 0 5px;
    margin-bottom:15px;

}
.gfMusic-banner .famous ul li .zan a {
    padding-left: 23px;
    text-decoration: none;
    background:url(../images/gfMusic/gfMusic-love.png) no-repeat 0 -2px;
}
.gfMusic-banner .famous ul li p{
    color:#ababab;
}



/*同人作品开始*/
.gfMusic-banner .product{
    width: 790px;
    height: 280px;
    position: absolute;
    top:1102px;
    right:63px;
}
.gfMusic-banner .product a:hover{
    text-decoration: underline;
}
.gfMusic-banner .product ul{
    float:left;
}
.gfMusic-banner .product .kongbai{
    width: 225px;
    height: 266px;
}
.gfMusic-banner .product li{
    height: 40px;
    width: 281px;
}
.gfMusic-banner .product a{
    color:#ababab;
}
.gfMusic-banner .product .em{
    color:#F88D2E;
    display: block;
    width: 98px;
    margin-top: -21px;
    margin-left: 180px;
    padding-left: 15px;
    background: url(../images/gfMusic/gfMusic-li-bg.jpg) no-repeat;
}
.gfMusic-banner .product .em:hover{
    text-decoration: none;
}
.gfMusic-banner .product em{
    display: block;
    width: 98px;
    padding-left: 15px;
    background: url(../images/gfMusic/gfMusic-love.png) no-repeat;
}
.gfMusic-banner .product .ak{
    color:#fff;
    position: absolute;
    top: 280px;
    left: 0;
    display: block;
    width: 245px;
    height: 25px;
    padding-left:45px;
    background: url(../images/gfMusic/gfMusic-5sing.jpg) no-repeat;
}
    /*同人作品结束*/

/*footer开始*/
.footer{
    height:150px;
    background-color: #040404;
}
.footer .imgs{
    width: 313px;
    height: 40px;
    display: block;
    float:left;
    margin-top:70px;
    /*margin-left:180px;*/
}
.footer .imgs .all{
    display: block;
    float:left;
}
.footer .imgs .img1{
    width: 118px;
    height: 31px;
    background:url(../images/gfMusic/gfMusic-netease.2.png) no-repeat;
}
.footer .imgs .img2{
    width: 149px;
    height: 31px;
    background:url(../images/gfMusic/gfMusic-nie.2.png) no-repeat;
}
.footer .imgs .img3{
    width: 46px;
    height: 31px;
    background:url(../images/gfMusic/gfMusic-wen.png) no-repeat;
}

.footer .someLinks{
    width: 450px;
    height: 48px;
    display: block;
    float:left;
    margin-top:68px;

}
.footer .someLinks a{
    color: #e23a3f;
    line-height: 24px;
    font-family: '宋体';
}
.footer .someLinks i{
    color: #e23a3f;
}
.footer a:hover{
    text-decoration: underline;
}
.footer .someLinks .project{
    padding: 8px;
    color: white;
    background-color: rgb(97,0,0);
}
.footer p{
    margin-left:100px;
}
.footer .last{
    width: 426px;
    height: 12px;
    text-align: center;
    font-size: 12px;
    margin-left:340px;
    font-family: '宋体';
    line-height: 24px;
    color:#fff;
}
/*footer结束*/